<section class="top_box">
	<h1>ようこそ Bookers へ！</h1>
		<p>Bookersでは、さまざまな書籍に関するあなたの意見や<br>
		印象を共有し交換することができます。</p>
	<div class="top_button"><%= link_to "start", reviews_path, method: :get %></div>
</section>